@charset "utf-8";

$navbar-breakpoint: 720px;

// @import "~bulma/bulma.sass";

@import '~bulma/sass/utilities/_all.sass';

@import '~bulma/sass/base/_all.sass';

//@import "~bulma/sass/components/_all.sass";
@import '~bulma/sass/components/navbar.sass';
@import '~bulma/sass/components/card.sass';

//@import "~bulma/sass/elements/_all.sass";
@import '~bulma/sass/elements/box.sass';
@import '~bulma/sass/elements/button.sass';
@import '~bulma/sass/elements/container.sass';
@import '~bulma/sass/elements/content.sass';
@import '~bulma/sass/elements/title.sass';

@import '~bulma/sass/grid/_all.sass';

@import '~bulma/sass/helpers/_all.sass';

// @import "~bulma/sass/layout/_all.sass";
@import '~bulma/sass/layout/footer.sass';
@import '~bulma/sass/layout/section.sass';
