@import './bulma.scss';
@import './map.scss';

html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: scroll;
  font-family: sans-serif;
  font-size: small;
  background-color: var(--main-color-L1);
}

th,
td {
  vertical-align: top;
  text-align: left;
}

div#MApp {
  margin: 1% 0% 1% 0%;
  width: auto;
  height: 50%;
  overflow: hidden;
  background-color: #fcfcfc;
}
div#map {
  width: 100%;
  height: 80%;
}
div#pic {
  width: 100%;
  height: 20%;
  overflow-y: hidden;
  white-space: nowrap;
  overflow-x: scroll;
}
#pic img {
  margin: 1px;
  height: 100%;
  width: auto;
}

@import './tozan-joho.scss';
@import './progress.scss';
