<!-- このデータは自動作成、編集は../src/info.ejsで-->

<div class="container">
	<h1 class="title is-1">登山道情報</h1>
</div>
<div class="container">
	<div class="tile is-parent">
		<%- include('_includes/tozan-tile.ejs', { title: '旭岳山頂へ登山道', entries: tozanJoho.summit }); %>
		<%- include('_includes/tozan-tile.ejs', { title: '裾合平中岳温泉', entries: tozanJoho.nakadake }); %>
		<%- include('_includes/tozan-tile.ejs', { title: '天女が原登山道', entries: tozanJoho.tennyogahara }); %>
	</div>

	<div class="tile">
		<div class="tile is-parent">
			<article class="tile is-child box">
				<h4 class="title is-4">旭岳ライブカメラ</h4>
				<figure class="image">
					<img src="http://211.18.244.62/webcam/webimg/asahidake.JPG" >
				</figure>
			</article>
		</div>
		
		<div class="tile is-parent  is-vertical">
			<h1 class="title is-1">各種リンク</h1>
			<div class="tile " style='display: table;'>
				<div class="tile is-parent is-vertical">
					<article class="tile is-child box">
						<a  href="http://asahidake.hokkaido.jp/ja/" target="_blank" rel="noopener noreferrer">
							<h2 class="title is-3">旭岳ロープウェイ</h2>
						</a>
					</article>
							<article class="tile is-child box">
						<a  href="https://www.asahidake-vc-2291.jp/" target="_blank" rel="noopener noreferrer">
							<h2 class="title is-3">旭岳ビジターセンター</h2>
						</a>
					</article>
							<article class="tile is-child box">
						<a  href="http://www.daisetsuzan.or.jp/" target="_blank" rel="noopener noreferrer">
							<h2 class="title is-3">大雪山連絡協議会</h2>
						</a>
					</article>
				</div>
			</div>
		</div>
	</div>
</div>